<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql"/>
	</properties>
	<settings>
		<!-- 是否启用缓存,默认为true -->
		<setting name="cacheEnabled" value="false" />
		<!-- 是否延迟加载,默认true -->
 		<!-- setting name="lazyLoadingEnabled" value="true" /-->
		<!-- 配置默认的执行器。SIMPLE执行器没有什么特别之处。REUSE执行器重用预处理语句。BATCH执行器重用语句和批量更新 -->
<!-- 		<setting name="defaultExecutorType" value="SIMPLE" /> -->
		<!-- 设置超时时间，它决定驱动等待一个数据库响应的时间。 -->
<!-- 		<setting name="defaultStatementTimeout" value="25000" /> -->
	</settings>
	<plugins>
		<plugin interceptor="com.yc.commons.mybatis.pagination.interceptor.PaginationInterceptor"/>
    </plugins>

	<mappers>
		<mapper resource="mybatis/mybatis-mapper-payment.xml" />
		<mapper resource="mybatis/mybatis-mapper-settle.xml" />
		<mapper resource="mybatis/mybatis-mapper-payablesHistory.xml" />
		<mapper resource="mybatis/mybatis-mapper-user-action.xml" />
		<mapper resource="mybatis/mybatis-mapper-alipay.xml" />
		<mapper resource="mybatis/mybatis-mapper-unipay.xml" />
		<mapper resource="mybatis/mybatis-mapper-trustpay.xml" />
		<mapper resource="mybatis/mybatis-mapper-weixinpay.xml" />
		<mapper resource="mybatis/mybatis-mapper-owner-account.xml" />
		<mapper resource="mybatis/mybatis-mapper-score.xml" />
		<mapper resource="mybatis/mybatis-mapper-score-task.xml" />
		<mapper resource="mybatis/mybatis-mapper-signin.xml" />
		<mapper resource="mybatis/mybatis-mapper-juhe-pay.xml" />
		<mapper resource="mybatis/mybatis-mapper-juhe-tickets.xml" />
		<mapper resource="mybatis/payment/mybatis-mapper-sellerAccount.xml" />
		<mapper resource="mybatis/count/mybatis-mapper-rechargeStat.xml" />
	</mappers>
</configuration>
