<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.yc" />
	<context:property-placeholder location="classpath:eps.properties" />
	<util:properties id="eps" location="classpath:eps.properties" />

	<bean id="edsSellerService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsSellerService"/>
        <property name="serviceInterface" value="com.yc.edsi.seller.ISellerService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsOwnerService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsOwnerService"/>
        <property name="serviceInterface" value="com.yc.edsi.owner.IOwnerService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsSystemService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsSystemService"/>
        <property name="serviceInterface" value="com.yc.edsi.system.ISystemService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsOrderMainService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsOrderMainService"/>
        <property name="serviceInterface" value="com.yc.edsi.ordermain.IOrderMainService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsOrderService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsOrderService"/>
        <property name="serviceInterface" value="com.yc.edsi.order.IOrderService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsPushBaiduMsgService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.ems.urlPre}/edsPushBaiduMsgService"/>
        <property name="serviceInterface" value="com.yc.edsi.push.IPushBaiduMsgService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsPropertyService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsPropertyService"/>
        <property name="serviceInterface" value="com.yc.edsi.community.IPropertyService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsCommunityService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsCommunityService"/>
        <property name="serviceInterface" value="com.yc.edsi.community.ICommunityService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsCashService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsCashService"/>
        <property name="serviceInterface" value="com.yc.edsi.cash.ICashService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsOwnerBoundService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsOwnerBoundService"/>
        <property name="serviceInterface" value="com.yc.edsi.community.IOwnerBoundService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsJuheDataService" />
	    <property name="service" ref="juheDataService" />
	    <property name="serviceInterface" value="com.yc.edsi.juhe.IJuheDataService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsPaymentService" />
	    <property name="service" ref="paymentService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.IPaymentService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsSettlementService" />
	    <property name="service" ref="settlementService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.ISettlementService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsSettleService" />
	    <property name="service" ref="settleService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.ISettleService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsPayablesHistoryService" />
	    <property name="service" ref="payablesHistoryService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.IPayablesHistoryService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsUserActionService" />
	    <property name="service" ref="userActionService" />
	    <property name="serviceInterface" value="com.yc.edsi.count.IUserActionService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsOwnerAccountService" />
	    <property name="service" ref="ownerAccountService" />
	    <property name="serviceInterface" value="com.yc.edsi.count.IOwnerAccountService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsOwnerScoreService" />
	    <property name="service" ref="ownerScoreService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.score.IOwnerScoreService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsScoreTaskService" />
	    <property name="service" ref="scoreTaskService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.score.IScoreTaskService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsOwnerSigninService" />
	    <property name="service" ref="ownerSigninService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.score.IOwnerSigninService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsPayCatchService" />
	    <property name="service" ref="payCatchTools" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.third.IPayCatchService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="epsWeixinPayService" />
	    <property name="service" ref="weixinPayService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.third.IWeixinPayService" />
	    <property name="registryPort" value="19992" />
	</bean>
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="epsTrustPayService" />
		<property name="service" ref="trustPayService" />
		<property name="serviceInterface" value="com.yc.edsi.payment.third.ITrustPayService" />
		<property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsTicketsService" />
	    <property name="service" ref="ticketsService" />
	    <property name="serviceInterface" value="com.yc.edsi.tickets.ITicketsService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsSellerAccountService" />
	    <property name="service" ref="sellerAccountService" />
	    <property name="serviceInterface" value="com.yc.edsi.payment.ISellerAccountService" />
	    <property name="registryPort" value="19992" />
	</bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <property name="serviceName" value="edsRechargeStatService" />
	    <property name="service" ref="rechargeStatService" />
	    <property name="serviceInterface" value="com.yc.edsi.count.IRechargeStatService" />
	    <property name="registryPort" value="19992" />
	</bean>

	<bean id="edsFeeService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsFeeService"/>
        <property name="serviceInterface" value="com.yc.edsi.fee.IFeeService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
    <bean id="edsContactPeopleService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsContactPeopleService"/>
        <property name="serviceInterface" value="com.yc.edsi.contactpeople.IContactPeopleService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
    <!-- 满天飞兑换话费 -->
    <bean id="edsGpurchaseService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsGpurchaseService"/>
        <property name="serviceInterface" value="com.yc.edsi.gpurchase.IGpurchaseSrevice"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
    <bean id="edsTeleComService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsTeleComService"/>
        <property name="serviceInterface" value="com.yc.edsi.teleCom.ITeleComService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>

	<!-- 配置数据源 -->
	<bean id="paymentDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${jdbc.payment.url}" />
		<property name="username" value="${jdbc.payment.username}" />
		<property name="password" value="${jdbc.payment.password}" />
		<property name="maxActive" value="${jdbc.payment.maxActive}" />
		<property name="maxIdle" value="${jdbc.payment.maxIdle}" />
		<property name="maxWait" value="${jdbc.payment.maxWait}" />
		<property name="validationQuery" value="select 1" />
	</bean>
	<bean id="paymentSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="paymentDataSource" />
		<property name="configLocation" value="classpath:mybatis.xml" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="paymentSqlSessionFactory"></property>
		<property name="basePackage" value="com.yc.eps.*" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="paymentDataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 开启@AspectJ AOP代理 -->  
	<aop:aspectj-autoproxy proxy-target-class="true"/>  
	  
	<!-- 任务调度器 -->  
	<task:scheduler id="scheduler" pool-size="10"/>  
	  
	<!-- 任务执行器 -->  
	<task:executor id="executor" pool-size="10"/>  
	  
	<!--开启注解调度支持 @Async @Scheduled-->  
	<task:annotation-driven executor="executor" scheduler="scheduler" proxy-target-class="true"/>
</beans>