<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yc.eps.payment.ISellerAccountDao">

	<resultMap id="sellerAccount" type="com.yc.edsi.payment.SellerAccountPO">
        <result property="settleId" column="settleId"/>
        <result property="spaymentId" column="sPaymentId"/>
        <result property="opaymentId" column="oPaymentId"/>
        <result property="orderId" column="orderId"/>
        <result property="orderNo" column="orderNo"/>
        <result property="sellerId" column="sellerId"/>
        <result property="communityId" column="communityId"/>
        <result property="totalAmount" column="totalAmount"/>
        <result property="tradeCommiAmount" column="tradeCommiAmount"/>
        <result property="canSettleAmount" column="canSettleAmount"/>
        <result property="commissionPercent" column="commissionPercent"/>
        <result property="createTime" column="createTime"/>
        <result property="sellerApply" column="sellerApply"/>
        <result property="platformApply" column="platformApply"/>
        <result property="isCommPayee" column="isCommPayee"/>
        <result property="subcomId" column="subcomId"/>
        <result property="flow" column="flow"/>
        <result property="maxSettleId" column="maxSettleId"/>
        <result property="sellerName" column="sellerName"/>
        <result property="sellerNo" column="sellerNo"/>
        <result property="accountName" column="accountName"/>
        <result property="bankName" column="bankName"/>
        <result property="cardNumber" column="cardNumber"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		A.settleId,A.sPaymentId,A.oPaymentId,A.orderId,A.orderNo,A.sellerId,A.communityId,A.totalAmount,A.tradeCommiAmount,A.canSettleAmount,A.commissionPercent,A.createTime,A.sellerApply,A.platformApply,A.isCommPayee,A.subcomId,A.flow
	    ]]>
	</sql>

	<insert id="insert">
    	<![CDATA[
        INSERT INTO seller_account_tab (
        	settleId ,
        	sPaymentId ,
        	oPaymentId ,
        	orderId ,
        	orderNo ,
        	sellerId ,
        	communityId ,
        	totalAmount ,
        	tradeCommiAmount ,
        	canSettleAmount ,
        	commissionPercent ,
        	createTime ,
        	sellerApply ,
        	platformApply ,
        	isCommPayee ,
        	subcomId ,
        	flow 
        ) VALUES (
        	#{entity.settleId} ,
        	#{entity.spaymentId} ,
        	#{entity.opaymentId} ,
        	#{entity.orderId} ,
        	#{entity.orderNo} ,
        	#{entity.sellerId} ,
        	#{entity.communityId} ,
        	#{entity.totalAmount} ,
        	#{entity.tradeCommiAmount} ,
        	#{entity.canSettleAmount} ,
        	#{entity.commissionPercent} ,
        	#{entity.createTime} ,
        	#{entity.sellerApply} ,
        	#{entity.platformApply} ,
        	#{entity.isCommPayee} ,
        	#{entity.subcomId} ,
        	#{entity.flow} 
        )
    	]]>
	</insert>
    
	<update id="update">
    	<![CDATA[
        UPDATE seller_account_tab SET
	        sPaymentId = #{entity.spaymentId} ,
	        oPaymentId = #{entity.opaymentId} ,
	        orderId = #{entity.orderId} ,
	        orderNo = #{entity.orderNo} ,
	        sellerId = #{entity.sellerId} ,
	        communityId = #{entity.communityId} ,
	        totalAmount = #{entity.totalAmount} ,
	        tradeCommiAmount = #{entity.tradeCommiAmount} ,
	        canSettleAmount = #{entity.canSettleAmount} ,
	        commissionPercent = #{entity.commissionPercent} ,
	        createTime = #{entity.createTime} ,
	        sellerApply = #{entity.sellerApply} ,
	        platformApply = #{entity.platformApply} ,
	        isCommPayee = #{entity.isCommPayee} ,
	        subcomId = #{entity.subcomId} ,
	        flow = #{entity.flow} 
        WHERE 
	        settleId = #{entity.settleId} 
    	]]>
	</update>

    <delete id="deleteById" parameterType="java.lang.Long">
    	<![CDATA[
        DELETE FROM seller_account_tab 
        WHERE
	        settleId = #{id} 
    	]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Long" resultMap="sellerAccount">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM seller_account_tab A
	        WHERE 
		        settleId = #{id} 
	    ]]>
	</select>
	
	<sql id="find_where">
	        <if test="entity.settleId != null and entity.settleId != ''">
				AND A.settleId = #{entity.settleId}
			</if>
	        <if test="entity.spaymentId != null and entity.spaymentId != ''">
				AND A.sPaymentId = #{entity.spaymentId}
			</if>
	        <if test="entity.opaymentId != null and entity.opaymentId != ''">
				AND A.oPaymentId = #{entity.opaymentId}
			</if>
	        <if test="entity.orderId != null and entity.orderId != ''">
				AND A.orderId = #{entity.orderId}
			</if>
	        <if test="entity.sellerId != null and entity.sellerId != ''">
				AND A.sellerId = #{entity.sellerId}
			</if>
	        <if test="entity.communityId != null and entity.communityId != ''">
				AND A.communityId = #{entity.communityId}
			</if>
	        <if test="entity.totalAmount != null and entity.totalAmount != ''">
				AND A.totalAmount = #{entity.totalAmount}
			</if>
	        <if test="entity.tradeCommiAmount != null and entity.tradeCommiAmount != ''">
				AND A.tradeCommiAmount = #{entity.tradeCommiAmount}
			</if>
	        <if test="entity.canSettleAmount != null and entity.canSettleAmount != ''">
				AND A.canSettleAmount = #{entity.canSettleAmount}
			</if>
	        <if test="entity.commissionPercent != null and entity.commissionPercent != ''">
				AND A.commissionPercent = #{entity.commissionPercent}
			</if>
	        <if test="entity.createTime != null and entity.createTime != ''">
				AND A.createTime = #{entity.createTime}
			</if>
	        <if test="entity.sellerApply != null and entity.sellerApply != ''">
				AND A.sellerApply = #{entity.sellerApply}
			</if>
	        <if test="entity.platformApply != null and entity.platformApply != ''">
				AND A.platformApply = #{entity.platformApply}
			</if>
	        <if test="entity.isCommPayee != null and entity.isCommPayee != ''">
				AND A.isCommPayee = #{entity.isCommPayee}
			</if>
	        <if test="entity.subcomId != null and entity.subcomId != ''">
				AND A.subcomId = #{entity.subcomId}
			</if>
	        <if test="entity.flow != null and entity.flow != ''">
				AND A.flow = #{entity.flow}
			</if>
	        <if test="entity.maxSettleId != null and entity.maxSettleId != ''">
				AND A.settleId <![CDATA[<=]]> #{entity.maxSettleId}
			</if>
	        <if test="entity.sSettleId != null and entity.sSettleId != ''">
				AND A.sSettleId  = #{entity.sSettleId}
			</if>
	</sql>
    
    <select id="find" resultMap="sellerAccount">
    	SELECT <include refid="columns" />, si.sellerName, ci.communityName
	    FROM seller_account_tab A
	    LEFT JOIN ecominfo.seller_info_tab si ON A.sellerId = si.sellerId
	    LEFT JOIN ecomowner.community_info_tab ci ON A.communityId = ci.communityId
	    WHERE 1 = 1
		<include refid="find_where"/>
		ORDER BY createTime desc
    </select>
    
    <select id="getListForClient" resultMap="sellerAccount">
    	SELECT <include refid="columns" />
	    FROM seller_account_tab A
	    WHERE 1 = 1
		<include refid="find_where"/>
	    <if test="entity.startIndex != null and entity.startIndex > -1">
	    	LIMIT ${entity.startIndex},${entity.count}
		</if>
    </select>
    
    <select id="getCount" resultType="int">
    	SELECT COUNT(1)
	    FROM seller_account_tab A
	    WHERE 1 = 1
		<include refid="find_where"/>
    </select>
    
    <select id="getBySpaymentId" resultMap="sellerAccount">
		SELECT
			sp.sPaymentId,
			sp.oPaymentId,
			sp.orderId,
			oi.orderNo,
			sp.sellerId,
			sp.communityId,
			sp.amount totalAmount,
			round(
				sp.amount * ifnull(si.commissionPercent, 0.00),
				2
			) tradeCommiAmount,
			round(
				sp.amount - round(
					sp.amount * ifnull(si.commissionPercent, 0.00),
					2
				),
				2
			) canSettleAmount,
			ifnull(si.commissionPercent, 0.00) commissionPercent,
			DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') createTime,
			'0' sellerApply,
			'0' platformApply,
			sp.isCommPayee,
			sp.subcomId,
			'1' flow
		FROM
			seller_payment_tab sp
		LEFT JOIN ecominfo.order_info_tab oi ON sp.orderId = oi.id
		LEFT JOIN ecominfo.seller_info_tab si ON sp.sellerId = si.sellerId
		WHERE
			sp.sPaymentId = #{sPaymentId}  AND sp.amount >= 0.01 AND NOT EXISTS (
                select 1 from seller_account_tab where sPaymentId = sp.sPaymentId
            )
    </select>
    
    <select id="getRestAccount" resultMap="sellerAccount">
    	SELECT
			ROUND(IFNULL(SUM(A.totalAmount), 0.00), 2) totalAmount, 
			ROUND(IFNULL(SUM(A.tradeCommiAmount), 0.00), 2) tradeCommiAmount, 
			ROUND(IFNULL(SUM(A.canSettleAmount), 0.00), 2) canSettleAmount, 
			ROUND(IFNULL(A.commissionPercent, 0.00), 2) commissionPercent, 
    		IFNULL(MAX(A.settleId), 0) maxSettleId
    	FROM seller_account_tab A
		WHERE A.flow = '1' AND A.sellerApply = '0'
		<include refid="find_where"/>
    </select>
    
    <update id="updateSellerApply">
    	UPDATE seller_account_tab A
    	SET sellerApply = '1', sSettleId = #{entity.sSettleId}
		WHERE A.flow = '1' AND A.sellerApply = '0'
	        <if test="entity.sellerId != null and entity.sellerId != ''">
				AND A.sellerId = #{entity.sellerId}
			</if>
	        <if test="entity.maxSettleId != null and entity.maxSettleId != ''">
				AND A.settleId <![CDATA[<=]]> #{entity.maxSettleId}
			</if>
    </update>
	
	<insert id="insertByIncome" parameterType="com.yc.edsi.payment.SellerAccountQuery" useGeneratedKeys="true" keyProperty="settleId">
		INSERT INTO seller_account_tab (
			sellerId,
		    totalAmount,
		    tradeCommiAmount,
		    canSettleAmount,
		    commissionPercent,
		    createTime,
    		sellerApply,
    		flow
		) SELECT
			#{sellerId} sellerId,
			ROUND(IFNULL(SUM(A.totalAmount), 0.00), 2) totalAmount, 
			ROUND(IFNULL(SUM(A.tradeCommiAmount), 0.00), 2) tradeCommiAmount, 
			ROUND(IFNULL(SUM(A.canSettleAmount), 0.00), 2) canSettleAmount, 
			ROUND(IFNULL(A.commissionPercent, 0.00), 2) commissionPercent, 
    		DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') createTime,
    		'0' sellerApply,
    		'0' flow
    	FROM seller_account_tab A
		WHERE A.flow = '1' AND A.sellerApply = '0'
	        <if test="sellerId != null and sellerId != ''">
				AND A.sellerId = #{sellerId}
			</if>
	        <if test="maxSettleId != null and maxSettleId != ''">
				AND A.settleId <![CDATA[<=]]> #{maxSettleId}
			</if>
	</insert>
	
	<select id="getWithdrawList" resultMap="sellerAccount">
		select sa.settleId, sa.createTime, si.sellerName, si.sellerNo, sa.totalAmount, sa.commissionPercent, sa.tradeCommiAmount, sa.canSettleAmount,
		sa.platformApply, si.accountName, si.bankName, si.cardNumber
		from seller_account_tab sa
		left join ecominfo.seller_info_tab si on sa.sellerId = si.sellerId
		where sa.flow = '0'
		order by createTime desc
	</select>
    
	<update id="updatePlatformApply">
    	<![CDATA[
        UPDATE seller_account_tab SET
	        platformApply = '1'
        WHERE 
	        settleId = #{settleId} 
    	]]>
	</update>
</mapper>

