<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须要写,并且必须是Mapper接口的全路径 -->
<mapper namespace="com.yc.eps.juhe.IJuheDataDao">

	<select id="getJuhePayList" parameterType="com.yc.edsi.juhe.JuheQueryCond" resultType="com.yc.edsi.juhe.JuheDataPO">
		SELECT * FROM owner_juhe_pay_tab WHERE 1=1
			<include refid="getJuhePayListSql"/>
        	order by payId desc
			<if test="startIndex != null and startIndex >=0">
				limit #{startIndex},#{pageSize}
			</if>
	</select>
	<select id="getJuhePayListCount" parameterType="java.util.Map" resultType="int">
		SELECT count(1) FROM owner_juhe_pay_tab WHERE 1=1
			<include refid="getJuhePayListSql"/>
	</select>

	<sql id="getJuhePayListSql">
		<if test="communityId != null and communityId > 0">
			and communityId = #{communityId}  
		</if>
		<if test="ownerId != null and ownerId > 0">
			and ownerId = #{ownerId} 
		</if>
		<if test="settleStatus != null and settleStatus != ''">
			and settleStatus = #{settleStatus} 
		</if>
		<if test="settlementId != null and settlementId > 0">
			and settlementId = #{settlementId} 
		</if>
		<if test="displayKey != null and displayKey != ''">
			and displayKey like concat('%',#{displayKey},'%')
		</if>
		<if test="startTime != null and startTime != ''">
			and finishTime between #{startTime} and #{endTime}
		</if>
		<if test="statuses != null and statuses.size > 0 ">
			<foreach collection="statuses" item="status" index="index" open="and (" close=")" separator=" or ">
	            status =#{status}
        	</foreach>
       	</if>
	</sql>
	<insert id="insertJuhePay" parameterType="com.yc.edsi.juhe.JuheDataPO">
		INSERT INTO owner_juhe_pay_tab(payId,paymentId,boundId,communityId,propertyId,orderId,ownerId, ownerName,boundType,boundName,
			displayKey,value1,value2,value3,value4,value5,value6,value7,value8,
			reason,errorCode,cardnum,ordercash,inprice,createTime,finishTime,status)
		VALUES ( #{payId},#{paymentId},#{boundId}, #{communityId}, #{propertyId},#{orderid}, #{ownerId}, #{ownerName}, #{boundType}, #{boundName}, 
			#{displayKey}, #{value1}, #{value2}, #{value3}, #{value4},#{value5},#{value6},#{value7},#{value8}, 
			#{reason},#{errorCode},#{cardnum},#{ordercash},#{inprice},#{createTime},#{finishTime}, #{status})
	</insert>
	<update id="updateJuhePayStatus" parameterType="com.yc.edsi.juhe.JuheDataPO">
		UPDATE owner_juhe_pay_tab SET 
			reason=#{reason},
			errorCode=#{errorCode},
			finishTime=#{finishTime},
			status=#{status}
		WHERE payId = #{payId} and communityId = #{communityId} and ownerId = #{ownerId}
	</update>
	<update id="updateJuhePaySettleStatus" parameterType="map">
		UPDATE owner_juhe_pay_tab SET 
			settleStatus=#{settleStatus},
			settlementId=#{settlementId}
		WHERE settleStatus = '0' and status = '2' and communityId = #{communityId} and 
			 finishTime <![CDATA[<]]> #{endTime}  
	</update>
	<insert id="settlement" parameterType="com.yc.edsi.juhe.JuheSettlementPO">
		INSERT INTO juhe_settlement_tab(settlementId,communityId,createUser,money,endTime,createTime)
		VALUES ( #{settlementId},#{communityId},#{createUser}, #{money}, #{endTime},#{createTime})
	</insert>

	<update id="changeSettlementStatus" parameterType="map">
		update juhe_settlement_tab
			<set>
				status = #{status},
				<if test="passUser != null and passUser != ''">
					passUser = #{passUser},
					passTime = #{dateTime}
				</if>
				<if test="payUser != null and payUser != ''">
					payUser = #{payUser},
					payTime = #{dateTime}
				</if>
				<if test="confirmUser != null and confirmUser != ''">
					confirmUser = #{confirmUser},
					confirmTime = #{dateTime}
				</if>
			</set>
		where settlementId = #{settlementId} and communityId = #{communityId} and status=#{preStatus}
	</update>

	<select id="getSettlementList" parameterType="java.util.Map" resultType="com.yc.edsi.juhe.JuheSettlementPO">
		SELECT * FROM juhe_settlement_tab WHERE 1=1
			<include refid="getSettlementListSql"/>
        	order by settlementId desc
			<if test="startIndex != null and startIndex >=0">
				limit #{startIndex},#{pageSize}
			</if>
	</select>
	<select id="getSettlementListCount" parameterType="java.util.Map" resultType="int">
		SELECT count(1) FROM juhe_settlement_tab WHERE 1=1
			<include refid="getSettlementListSql"/>
	</select>
	<sql id="getSettlementListSql">
		<if test="communityId != null and communityId > 0">
			and communityId = #{communityId}  
		</if>
		<if test="status != null and status != ''">
			and status = #{status}  
		</if>
	</sql>
	<select id="getNotSettlementList" parameterType="java.util.Map" resultType="com.yc.edsi.juhe.JuheSettlementPO">
		SELECT communityId,sum(inprice) as money FROM owner_juhe_pay_tab WHERE 
			<include refid="getNotSettlementListSql"/>
			group by communityId
        	order by communityId desc
			<if test="startIndex != null and startIndex >=0">
				limit #{startIndex},#{pageSize}
			</if>
	</select>
	<select id="getNotSettlementListCount" parameterType="java.util.Map" resultType="int">
		SELECT count(distinct communityId) FROM owner_juhe_pay_tab WHERE 
			<include refid="getNotSettlementListSql"/>
	</select>
	<sql id="getNotSettlementListSql">
		settleStatus = '0' and status = '2'
		<if test="communityId != null and communityId > 0">
			and communityId = #{communityId}  
		</if>
		<if test="commList != null and commList.size > 0">
			<foreach collection="commList" item="item" index="index" open="and (" close=")" separator=" or ">
	            communityId =#{item.communityId}
        	</foreach>
		</if>
		<if test="endTime != null and endTime !=''">
			and finishTime <![CDATA[<]]> #{endTime}  
		</if>
	</sql>

</mapper>
