<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.eps.trustpay.ITrustPayDao">
	<insert id="insertTrustPayTrade" parameterType="com.yc.edsi.payment.third.TrustPayPO">
		INSERT INTO trustpay_trade_tab(outTradeNo, tradeNo, communityId, ownerId, ownerUserId, info, amount, tradeStatus, currency, paySource, loginName, singResult)
		VALUES(#{outTradeNo}, #{tradeNo}, #{communityId}, #{ownerId}, #{ownerUserId}, #{info}, #{amount}, #{tradeStatus}, #{currency}, #{paySource},  #{loginName}, #{singResult})
	</insert>

	<select id="getTradeCountByLoginName" parameterType="String" resultType="int">
		select count(loginName) from trustpay_trade_tab where loginName = #{loginName}
	</select>

	<select id="getTrustFinishTrade" parameterType="String" resultType="int">
		select count(outTradeNo) from unipay_trade_info where outTradeNo = #{outTradeNo} and singResult='1'
	</select>
	
</mapper>