<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.eps.count.IOwnerAccountCountDao">
	
	<select id="getOwnerAccountList" resultType="com.yc.edsi.count.OwnerAccountCountPO" >
		<![CDATA[  
		SELECT OWNERID, OWNERNAME, HOUSENUMBER, PROPERTYID, 
		SUM(IF(SYSUSEROPTFLAG ='1' AND FLOW = '1' AND CASH >0 AND BILLNO IS NOT NULL,CASH,0)) AS RECHARGEMONEY,
		SUM(IF(SYSUSEROPTFLAG ='1' AND FLOW = '0' AND AMOUNT <0 AND	BILLNO IS NOT NULL,AMOUNT,0)) AS SEEKMONEY,
		SUM(IF((SYSUSEROPTFLAG ='1' OR SYSUSEROPTFLAG ='2') AND FLOW = '0' AND AMOUNT <0 AND BILLNO IS NULL,AMOUNT,0)) AS PAYMENT,
		SUM(IF(SYSUSEROPTFLAG ='0' AND FLOW = '0' AND AMOUNT <0 AND BILLNO IS NULL,AMOUNT,0)) AS CONSUME,
		SUM(IF(SYSUSEROPTFLAG ='1' AND FLOW = '1' AND EXTCASH >0,EXTCASH,0)) AS VOUCHERMONEY
		FROM OWNER_PAYMENT_TAB OPT
		]]>
		WHERE 1 =1
		<if test="oac.houseNumber != null and oac.houseNumber != ''">
			AND HOUSENUMBER LIKE CONCAT('%',#{oac.houseNumber},'%')
		</if>
		<if test="oac.ownerName != null and oac.ownerName != ''">
			AND OWNERNAME LIKE CONCAT('%',#{oac.ownerName},'%')
		</if>
		<if test="oac.propertyId > 0">
			AND PROPERTYID = #{oac.propertyId}
		</if>
		<if test="rangePropertyIds != '-1'">
	        AND PROPERTYID IN 
	        <foreach collection="propertyIds" item="it" open="(" close=")" separator=",">
	        #{it}
	        </foreach>
	    </if>
		<if test="rangePropertyIds == null or rangePropertyIds == ''">
		   	AND 1 > 2
		</if>
		AND COMMUNITYID = #{oac.communityId}
		GROUP BY OWNERID
		<choose>
			<when test="oac.sortType==2">
				ORDER BY PAYMENT
			</when>
			<when test="oac.sortType==3">
				ORDER BY CONSUME
			</when>
			<otherwise>
				ORDER BY RECHARGEMONEY DESC
			</otherwise>
		</choose>
	</select>
</mapper>
