<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/cache 
    http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">
	<context:annotation-config />
	<!-- RMI配置 -->
	<bean id="edsTokenRecordService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.ecp.urlPre}/edsTokenRecordService"/>
        <property name="serviceInterface" value="com.yc.edsi.commons.ITokenRecordsService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
    <bean id="edsSellerService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsSellerService"/>
        <property name="serviceInterface" value="com.yc.edsi.seller.ISellerService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
    <bean id="edsThirdSellerService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsThirdSellerService"/>
        <property name="serviceInterface" value="com.yc.edsi.order.third.IThirdSellerService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
	<bean id="edsOwnerService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="${ecom.eds.urlPre}/edsOwnerService"/>
        <property name="serviceInterface" value="com.yc.edsi.owner.IOwnerService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>
</beans>